* {
    box-sizing: border-box;
    --dark-green: #044343;
    --light-green: #82A284;
}

body {
    width: 100vw;
    height:100vh;
    margin: 0;
    padding: 0;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr .3fr;

}

.header {
    grid-column: 1/-1;
    background-color: #003F5C;

    font-size: 3rem;
    font-weight: bold;
    line-height: calc(100vh / 7.5);
    text-align: center;
}

.sidebar {
    background-color: var(--dark-green);
    font-size: 2rem;
}

.main {

    /* background-color: #1D2D50; */
    background-color: #04293A;
    padding: 40px;

    display: flex;
    flex-direction: column;

}

.footer {
    grid-column: 1/-1;
    text-align: center;
    line-height: calc(100vh * 0.3 / 7.5);
    background-color: #334756;
}



.addTask_container, .editTask_container {

    width: 35vw;
    aspect-ratio: 1/.8;
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: black 2px solid;
    border-radius: 10px;
    background-color: white;
    z-index: 8;
}

.addTask_container.active, .editTask_container.active {
    transform: translate(-50%, -50%) scale(1);
}

.addTask_header, .editTask_header {
    padding: 10px 10px 10px 25px;
    border-bottom: lightslategray 1px solid;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.addTask_title, .editTask_title {
    font-size: 1.75rem;
    font-weight: bold;
}

.close_button, .close_edit_button {

    font-size: 2rem;
    font-weight: bold;
    border: none;
    background: none;
}

.addTask_body, .editTask_body {
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label, input, textarea {
    display: block;
    padding: 10px;
    text-align: start;
}

input {
    height: 30px;
}

textarea {
    height: 8rem;
    width: 80%;
}

input, textarea {
    margin-bottom: 10px;
}

button.newTask, .edit_task {
    align-self: flex-end;

    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 12px;
    color: #EEEEEE;
    padding: 10px;
}

.wrapper {
    /* background-color: #133B5C; */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 30px;
}

.list_header {
    flex: 1;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FCDAB7;
}

span {
    font-size: 1.2rem;
    color: #82DBD8;
    padding: 0 5px;
    margin-right: 15px;
}

hr {
    width: 100%;
    opacity: 0;
}

.list_body {
    
    flex: 1;

    font-size: 1.2rem;
    color: #F39422;
    min-height: 50px;
    max-height: 300px;
    border-bottom: #1D5C63 1px solid;
    padding: 15px 5px;
    margin-bottom: 20px;
    
}

.project, .btn_project_add {

    width: calc(100vw / 5);
    aspect-ratio: 1/.2;
    font-size: 1.8rem;

    margin: 10px 5px;
    background: var(--light-green);
    border-radius: 5px;
}

.btn_project_add {
    border: dotted;
    opacity: .4;
}

.edit_button {
    color: #FF8E00;
    background: none;
    border: none;
    font-size: 2rem;
}


button[data-target="#addTask_container"] {

    background-color: #03506F;
    cursor: pointer;
    position: absolute;
    right: calc(100vw / 20);
    bottom: calc((100vh / 7.3 * .3) + 35px);
    height: 80px;
    width: 80px;
    border-radius: 40px;
    line-height: 100%;

    font-size: 3rem;
}

button[data-target="#addTask_container"]:hover {

    background-color: #1572A1;
    transition: .7s ease-in-out;
}

.btn_project_add, .project, .newTask, .close_button, .edit_button{
    cursor: pointer;
}

/* #overlay {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 200ms;
    pointer-events: none;

    border: gold 2px solid;

} */
/* 
#overlay.active {
    opacity: 1;
    pointer-events: all;
} */