* {
    box-sizing: border-box;
    --white: #faebd7;

    

}



.container {

    height: 98vh;
    width: 85vw;
    margin: auto;


    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

.sidebar {

    background-color: #069A8E;

    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
    color: an;


}

.dashboard {
    display: flex;
    align-items: center;
    align-self: center;
    margin: 25px;
    gap: 5px;

    font-size: 2rem;
    color: var(--white);

}

.task_top, .task_bottom {
    display: flex;
    flex-direction: column;
    margin: 25px;

    font-size: 1.5rem;
    color: var(--white);
    
}



.task_top_child, .task_bottom_child {
    
    max-height: 5vh;
    flex: 1;
    gap: 15px;

    display: flex;
    align-items: center;

}




.right_whole {

    border: blue 4px solid;

    display: grid;
    grid-template-rows: .75fr .9fr 10fr;

}

.search_bar {
    grid-row: 1;
}

input {
    min-width: 25vw;
}


.main {
    background-color: #EEEEEE;
    padding: 20px;

    display: grid;
    grid-template-columns: 3fr .75fr;
    grid-template-rows: .7fr 4fr 1fr 3fr .7fr;
    column-gap: 20px;

}

/* <div class="header_project">Your Projects</div>
<div class="header_announcement">Announcements</div>
<div class="projects">Lots of cards</div>
<div class="announcements">announcements cards</div>
<div class="trending">Trending</div>
<div class="users">trending cards</div> */


.search_bar {
    display: flex;
    align-items: center;
    padding-left: 20px;

}

form {
    display: inline;
}


.header {

    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;

}

div.user_name {
    font-size: 2rem;
}

.header_project, .header_announcement, .trending {

    font-size: 1.5rem;
}

.header_project {
    grid-area: 1/1/2/2;

    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    gap: 15px;
    
}

button {
    min-width: 70px;
    aspect-ratio: 2.3/1;
    padding: 12px;
    background-color: #005555;
    color: white;
    text-align: center;
    border: none;
    border-radius: 25px;
}

.projects {
    grid-area: 2/1/-2/2;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    
}

.card {
    border-left: gold 5px solid;
    border-radius: 5%;
    padding: 10px;

    background-color: white;
    color: black;
}