* {
    box-sizing: border-box;
    --light-brown: #A0937D;
}

div.searchBar {
    display: flex;
    justify-content: center;
    width: 60vw;
    margin: 20px auto 100px;
}

div.history {
    position: absolute;
    top: 100%;
    left: 27%;
    width: 25vw;
    border: black 1px solid;
    background: white;
}

ul {
    list-style: none;
    padding: 5px 10px;
}

div.listBox {
    display: flex;
}

div.listBox:hover {
    background: #E8F6EF;
    cursor: pointer;
}

li.list {
    flex: 1;
    margin: 5px;

    font-size: 1.5rem;
}


button.removeLi {

    color: #47B5FF;
    cursor: pointer;
    background: none;
    border: none;
    padding: 8px;
}

button.celsiusFahrenheitConvertion {
    background: none;
    border: lightseagreen 2px solid;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    aspect-ratio: 1/1;
}

img.search {
    width: 40px;
    opacity: .3;
    cursor: pointer;
}

div.bar {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

button.celsiusFahrenheitConvertion {
    flex-direction: flex-end;
    height: 30px;
    color: lightseagreen ;
}

input#cityName {

    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid;
    width: 25vw;
    height: 40px;
    font-size: 2rem;
    opacity: .5;
}

input#cityName:focus {
    opacity: 1;
}

::placeholder {
    opacity: .5;
}

div.alerts {
    cursor: pointer;
    width: 60vw;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: #B22727;
}

div.container {

    width: 60vw;
    height: 360px;
    margin: 30px auto 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 3.5fr;
}

div.header, div.currentCondition, div.weatherDetailLeft, div.weatherDetailRight {
    padding: 15px;
}

div.header {

    display: flex;
    align-items: center;
    grid-column: 1/-1;
    font-size: 2rem;
    background: #F0ECE3;
}

span.date {
    margin-left: auto;
}

div.tempBox {
    grid-column: 1;
    grid-row: 2/-1;
    font-size: 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.imgCondition {
    width: 50%;
}

div.currentCondition {
    grid-column: 2/-1;
    font-size: 1.5rem;
    padding: 15px 30px;
}

div.weatherDetailLeft {
    grid-row: 3/-1;
}

div.weatherDetailRight {
    grid-row: 3/-1;
}


p {
    text-align: center;
    font-size: 1.3rem;
}

div.forecast_container {
    width: 60vw;
    height: 270px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: auto;
}

div.forecast_cell {
    border: lightseagreen 2px dotted;
    border-left: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.forecast_date, p.tempMax, p.tempMin, p.forecast_condition {
    margin: 5px auto;
}

p.forecast_weekday {
    margin: 10px auto 0;
}

p.forecast_icon {
    margin: 5px auto 10px;
}

p.forecast_condition {
    margin-top: 18px;
}

div.today {
    border: lightseagreen 2px solid;;
}



div.container, div.forecast_container {
    min-width: 600px
}

div.container, div.tempBox, div.currentCondition, div.weatherDetailLeft,div.weatherDetailRight {
    border: var(--light-brown) 1px solid;
}