* {
    box-sizing: border-box;
}

 /* body {

    height: 100vh;
    width: 100vw;
}   */

div.searchBar {
    display: flex;
    justify-content: center;
    margin: 20px auto 100px;
}

input#cityName {
    flex: 1;
}

div.container {

    width: 60vw;
    height: 360px;

    margin: 100px auto 50px;
    border: gold 2px solid;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 3.5fr;
}

div.header, div.currentCondition, div.weatherDetailLeft, div.weatherDetailRight {
    padding: 15px;
}

div.header {

    display: flex;
    align-items: center;
    grid-column: 1/-1;
    font-size: 2rem;
}

span.date {
    margin-left: auto;
}

div.tempBox {
    grid-column: 1;
    grid-row: 2/-1;
    border: lightslategray 1px solid;
    font-size: 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.imgCondition {
    width: 50%;
}

div.currentCondition {
    grid-column: 2/-1;
    border: black 1px solid;
    font-size: 1.5rem;
}

div.weatherDetailLeft {
    grid-row: 3/-1;
    border: lightseagreen 1px solid;
}

div.weatherDetailRight {
    grid-row: 3/-1;
}


p {
    text-align: center;
    font-size: 1.3rem;
}

div.forecast_container {
    width: 60vw;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: auto;
    border: black 1px solid;
}

div.forecast_cell {
    border: lightseagreen 1px solid;

    display: flex;
    flex-direction: column;
    align-items: center;
}

p.forecast_date, p.tempMax, p.tempMin, p.forecast_condition{
    margin: 5px auto;
}