* {
    box-sizing: border-box;
}
.container {
    width: 80vw;
    margin: auto;
}

.items_container {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item_box {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.item_description {
    width: 320px;
}

/* .item_description:hover {
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
} */

img {
    width: 300px;
    aspect-ratio: 1;
}

.btn_addItem {
    margin-top: auto;
    width: 250px;
    border: lightblue 2px solid;
}
