body {
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

header {

    margin-bottom: 10vh;
}

#content {
    width: 80vw;
    margin: auto;
    text-align: center;
}   


ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }


ul > li {

    width: 5%;
    
    text-align: center;
    font-size: 1.3rem;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.lime {
    background-color: #F9D923;
    border: 2px solid #FF4949;
}

.menu_container {

    width: 80vw;
    height: 43vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    justify-content: center;
    gap: 15px;

    font-size: 2.5rem;
}

.menu_container p {
    font-size: 1.5rem;
}

.map {
    margin-bottom: 5vh;
}

.item_container {

    border: #FF8D29 4px solid;
    border-radius: 2%;

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    padding: 15px;
}

.item_container img {

    grid-column: 1;
    grid-row: 1/-1;
    width: 280px;
    aspect-ratio: 1;
    padding: 15px;
}