* {
    box-sizing: border-box;
    --lime-green: #4e944f;
    --light-pink: #e78ea9;
    --super-light-pink: #ffeeee; 
}

body {

    display: flex;
    height: 100vh;
    width: 65vw;
    margin: 0 auto;
    padding: 0;
    
}

div.imgContainer {
    position: relative;
}

img {

    width: 25vw;
    height: 100vh;
}



div.footer {

    position: absolute; 
    width: 25vw;
    color: white;
    background-color: var(--lime-green);
    opacity: 0.7;
    
    bottom: 6rem;
    font-size: 1rem;
    text-align: center;

}

.container {

    min-width: 700px;
    background-color: #C0D8C0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

button {
    
    margin: 20px 40px;
    width: 100px;
    cursor: pointer;
    color: white;
    background-color: var(--lime-green);
    border: var(--lime-green) 4px solid;
    border-radius: .5rem;
}


form div {
    width: 300px;
    padding: 20px;
}

input,label {
    display: block;
    width: 200px;
    
}


.left, .right {

    float:left;

}

.checkbox {
    clear: both;
}


input[type=checkbox] {

    display: inline ;
    width: 15px;
    accent-color: limegreen;
}



h3, h4, .right, div#error {

    margin-left: 35px;

}

div#error, div#pw_error{
    font-size: 2rem;

}

legend {
    margin-left: 20px;
    background-color: var(--lime-green);
    color: white;
}

input:focus {
    background-color: var(--super-light-pink)
}

input[type=text]:invalid, input[type=email]:invalid {

    border: var(--light-pink) 3px solid;
}

input[type=text]:valid, input[type=email]:valid {

    border: var(--lime-green) 3px solid;
}
